<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher_cinnamoroll"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BetterWeather">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.BetterWeather"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity-alias
            android:name=".alias.Classic"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_classic"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".alias.Cinnamoroll"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_cinnamoroll"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".alias.Mocha"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_mocha"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name=".alias.Espresso"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_espresso"
            android:label="@string/app_name"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

    </application>

</manifest>